.ct-label.ct-horizontal.ct-end {
    font-size: 14px;
    color:#666;
}
.ct-label.ct-vertical.ct-start {
    font-size: 14px;
    color:#666;
}
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #ee5c5c;
}
.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
    stroke: #f8bebd;
}